@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #F25551;
    --secondary-100-color: #FFFBFF;
    --secondary-200-color: #FEEDE1;
    --gradient-color: linear-gradient(180deg, #63232970 0%, #f254516c 50%, #50f2837b 100%);
    --green-color: #50F283;

    --dark-900-color: #241722;
    --dark-800-color: #352432;
    --dark-700-color: #462730;
    --dark-600-color: #462730;

    --font-family: 'Poppins', sans-serif;
    --small-font-size: 1rem;
    --medium-font-size: 1.125;
    --large-font-size: 1.5rem;
}